:root {
  --primary-black-color: #040F16;
  --primary-plugin-color: #2F6690;
	--secondary-plugin-color: #3A7CA5;
  --accent-plugin-color: #0B4F6C;
  --white-plugin-color: #FAFFFD;
}
/* #adminmenuback, #adminmenuwrap, #adminmenu{
  background-color: var(--accent-plugin-color)!important;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu{
    background-color: var(--primary-plugin-color)!important;
}
#adminmenu a{
  color: #FAFFFD !important;
}
#adminmenu .wp-submenu{
  background-color: var(--primary-black-color) !important;
}
.dashicons::before{
  color:var(--accent-plugin-color)!important;
}
.wp-admin {
  background: #FAFFFD;
} */

.vs-admin-settings-wrapper{
  font-family: 'Raleway', sans-serif;
  margin: 2.5%;
  background-color: #Fff;
  border-radius: 8px;
  padding: 2.5%;
  min-height: 500px;
  color: var(--secondary-plugin-color);
}

.vs-admin-h1{
  text-align: center;
  font-variant: small-caps;
  padding: 1rem;
  border-radius: 8px;
  margin: 0 auto;
  color: var(--primary-plugin-color);
  font-weight: bold;
}
h2,h3,h4{
  color: var(--accent-plugin-color);
}

.vs-space{
  display: block;
  margin-top: 1rem;
}

.formSuccess{
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  background-color: #4BB543;
  border-radius: 3px;
  padding: 0.5rem;
}

.formError{
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  background-color: #B33A3A;
  border-radius: 3px;
  padding: 0.5rem;
}

.vs-navigation-wrapper{
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.vs-button-style{
  background: var(--secondary-plugin-color);
  padding: 0.8rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-variant: all-small-caps;
  box-shadow: none;
  border:none;
  border-radius: 5px;
  font-size: large;
}

.vs-button-style:hover{
  transition: ease;
  color: white;
}

.vs-nav-btn-desc{
  margin-top: 1rem;
  opacity: 0;
  color: var(--accent-plugin-color);
}

.vs-nav-btn-container:hover > :last-child{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
   0% { opacity: 0; }
   100% { opacity: 1;}
}

.vs-admin-settings-wrapper form{
  margin-bottom: 2rem;
  padding: 1rem;
}

.formError{
  display: none;
}

.formSuccess{
  display: none;
}

#currentVirtueImg{
  width: 50px;
  height: 50px;
}
.virtue-image-rmv{

}
.vs-image-upload{
  margin-bottom: 2rem;
}
.virtue-image-upl{
  position: relative;
  top: 1rem;
}
